td, th{
    border: 2px dotted;
    padding: 10px;

}

table{
    width: 100%;
    border-collapse: collapse;
}
.em{
background-color: rgb(141, 138, 138);
}

.av{
    background-color: rgb(226, 52, 52);
}

.st{
    background-color: rgb(38, 225, 50);
}

.es{
    color:purple
}

.esco{
    background-color:rgb(226, 52, 52);
    color:white;
}

.escolher{
    color:purple
}